<footer class="footer">
  <!--<small>
    REMIND MY MAKEUP by <a href="http://www.michaelhartl.com/">Pierre COANET</a> & <a href="http://www.michaelhartl.com/">Marine MESNAGE</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>-->
</footer>